@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

:root {
    --maxWidthWrapper: 1920px;
    --containerPadding: 25px;
    --maxWidthContainer: 1000px;
    --header-height: 65px;
    --font-size-input: 1.25rem;
    --color-1: #afb0c8;
    --color-2: #565d93;
    --color-3: #f2b943;
    --color-4: #f3f4f2;
    --color-5: #e76769;
    --color-6: #ffffff;
    --color-7: #2c2e40;
    --color-8: #dee3e6;
    --color-9: #636263;
    --color-10: #75bc6a;
    --color-11: #ccd5da;
    --color-12: #af4c4e;
    --color-13: #959da1;
    --color-14: #51546e;
    --font-color-primary: #2c2e40;
    --font-color-logo: #2c2e40;
    --font-color-title: #2c2e40;
    --button-font-color-primary: #ffffff;
    --button-color-primary: #e76769;
    --button-color-primary-stroke: #af4c4e;
    --button-color-primary-hover: #af4c4e;
    --button-font-color-secondary: #959da1;
    --button-color-secondary: #f3f4f2;
    --button-color-secondary-stroke: #dee3e6;
    --button-color-secondary-hover: #dee3e6;
    --background-color-primary: #ffffff;
    --header-z-index: 1998;
    --header-menu-z-index: 1999;
    --popup-z-index: 1999;
}

@media (min-width: 768px) {
    :root {
        --header-height: 80px;
    }
}

@media (min-width: 1600px) {
    :root {
        --maxWidthContainer: 1230px;
        --header-height: 115px;
    }
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Medium.woff2") format("woff2"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: local("Roboto"), local("Roboto"), url("../fonts/Roboto-Black.woff2") format("woff2"), url("../fonts/Roboto-Black.woff") format("woff"), url("../fonts/Roboto-Black.ttf") format("truetype");
}

body {
    font-family: "Roboto";
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--font-color-primary);
    background-color: var(--background-color-primary);
}

body.no-scroll {
    overflow: hidden;
}

@media (min-width: 768px) {
    .main-view-container {
        width: 100%;
        max-width: 600px;
        padding: 25px;
        margin: 0 auto;
        border-radius: 10px;
        border: 1px solid var(--color-8);
    }
}

@media (min-width: 1200px) {
    .main-view-container {
        padding: 35px;
        border-radius: 15px;
    }
}

@media (min-width: 1600px) {
    .main-view-container {
        padding: 50px;
        border-radius: 20px;
    }
}

.crumbs {
    display: none;
}

@media (min-width: 768px) {
    .crumbs {
        padding: 0 0 20px 0;
        display: block;
    }
}

@media (min-width: 1200px) {
    .crumbs {
        padding: 0 0 30px 0;
    }
}

@media (min-width: 1600px) {
    .crumbs {
        padding: 0 0 40px 0;
    }
}

.crumbs__items {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.crumbs__item {
    padding: 0 15px;
    border-right: 1px solid var(--color-7);
}

.crumbs__item:first-child {
    padding: 0 15px 0 0;
}

.crumbs__item:last-child {
    padding: 0 0 0 15px;
    border: none;
}

.crumbs__item:last-child .crumbs__link {
    color: var(--color-13);
}

.crumbs__link {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.18;
    color: var(--font-color-primary);
    transition: color 0.15s linear;
}

@media (any-hover: hover) {
    .crumbs__link:hover {
        color: var(--color-5);
    }
}

.button {
    width: 100%;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.875rem;
    line-height: 1.2;
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
    color: var(--button-font-color-primary);
    border-radius: 7px;
    background-color: var(--button-color-primary);
    box-shadow: 0px -2px 0px 0px var(--button-color-primary-stroke) inset;
    transition: box-shadow 0.1s linear;
    outline: none;
    border: none;
}

@media (any-hover: hover) {
    .button:hover {
        box-shadow: 0px -70px 0px 0px var(--button-color-primary-stroke) inset;
    }
}

.button_secondary {
    color: var(--button-font-color-secondary);
    background-color: var(--button-color-secondary);
    box-shadow: 0px -2px 0px 0px var(--button-color-secondary-stroke) inset;
}

@media (any-hover: hover) {
    .button_secondary:hover {
        box-shadow: 0px -70px 0px 0px var(--button-color-secondary-stroke) inset;
    }
}

.button_sm {
    width: auto;
    min-height: 40px;
    padding: 0 2.5em;
    font-size: 0.75rem;
}

/*
<div class="input" data-input-required>
  <span class="input__label input__label_required"
    >Обязательное поле</span
  >
  <input class="input__main" type="text" placeholder="Ведите текст"/>
  <p class="input__info">Для получения договора и документов об оплате</p>
  <p class="input__error">Заполните поле</p>
</div>
*/
.input {
    font-size: var(--font-size-input);
    color: var(--font-color-primary);
}

.input.error .input__error {
    display: block;
}

.input.error .input__main {
    border-color: var(--color-5);
}

@media (any-hover: hover) {
    .input.error .input__main:hover {
        border-color: var(--color-13);
    }
}

.input__label {
    margin: 0 0 0.5em 0;
    display: block;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.16;
    color: inherit;
}

.input__label_required::after {
    content: "*";
    padding: 0 0 0 0.1em;
    font-size: 1em;
    color: var(--color-5);
}

.input__main {
    width: 100%;
    min-height: 2em;
    padding: 0 0.75em;
    display: block;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.16;
    color: inherit;
    border: 1px solid var(--color-8);
    border-radius: 0.35em;
    transition: border 0.15s linear;
}

@media (any-hover: hover) {
    .input__main:hover {
        border-color: var(--color-13);
    }
}

.input__main::-moz-placeholder {
    color: var(--color-13);
}

.input__main::placeholder {
    color: var(--color-13);
}

.input__main:focus {
    border-color: var(--color-13);
}

textarea.input__main {
    padding: 0.6em 0.75em;
    height: 4.35em;
    resize: none;
}

@media (min-width: 768px) {
    textarea.input__main {
        height: 6em;
    }
}

.input__info,
.input__error {
    margin: 0.545em 0 0 0;
    display: block;
    font-size: 0.55em;
    font-weight: 500;
    line-height: 1.16;
}

.input__info {
    color: var(--color-13);
}

.input__error {
    display: none;
    color: var(--color-5);
}

.checkbox {
    font-size: 0.688rem;
    display: flex;
}

.checkbox__label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (any-hover: hover) {
    .checkbox__label:hover .checkbox__action {
        border-color: var(--color-13);
    }
}

.checkbox__input {
    width: 0;
    height: 0;
    font-size: 0;
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 100%;
    left: 100%;
    z-index: -999;
}

.checkbox__input:checked + .checkbox__action svg {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.checkbox__action {
    flex: 0 0 2.273em;
    width: 2.273em;
    height: 2.273em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-8);
    border-radius: 0.636em;
    overflow: hidden;
    transition: border 0.2s linear;
}

.checkbox__action svg {
    flex: 0 0 1.364em;
    width: 1.364em;
    height: 1.364em;
    display: block;
    fill: var(--color-10);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.3);
    transition: opacity 0.2s linear, visibility 0.2s linear, transform 0.2s linear;
}

.checkbox__text {
    margin: 0 0 0 0.909em;
    display: block;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.16;
    color: var(--color-13);
}

.checkbox__text a,
.checkbox__text button {
    font-size: 1em;
    color: var(--color-5);
    border: none;
    background: none;
}

/*
<div class="radio">
  <span class="radio__title radio__title_required">пол</span>

  <div class="radio__items">
    <div class="radio__group">
      <label class="radio__label">
        <input class="radio__input" type="radio" name="sex" value="male" />
        <div class="radio__action"></div>
        <p class="radio__text">Мужской</p>
      </label>
    </div>
  </div>
</div>
*/
.radio {
    font-size: 0.75rem;
}

.radio__title {
    margin: 0 0 0.833em 0;
    display: block;
    font-size: 1.167em;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.16;
    color: inherit;
}

.radio__title_required::after {
    content: "*";
    padding: 0 0 0 0.167em;
    font-size: 1em;
    color: var(--color-5);
}

.radio__items {
    margin: -0.833em;
    display: flex;
    flex-wrap: wrap;
}

.radio__group {
    padding: 0.833em;
}

.radio__label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (any-hover: hover) {
    .radio__label:hover .radio__action {
        border-color: var(--color-13);
    }
}

.radio__input {
    width: 0;
    height: 0;
    font-size: 0;
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 100%;
    left: 100%;
    z-index: -999;
}

.radio__input:checked + .radio__action::after {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}

.radio__action {
    flex: 0 0 2.083em;
    width: 2.083em;
    height: 2.083em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-8);
    border-radius: 50%;
    transition: border 0.2s linear;
}

.radio__action::after {
    content: "";
    flex: 0 0 1.25em;
    width: 1.25em;
    height: 1.25em;
    display: block;
    border-radius: 50%;
    background-color: var(--color-10);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.3);
    transition: opacity 0.2s linear, visibility 0.2s linear, transform 0.2s linear;
}

.radio__text {
    margin: 0 0 0 0.833em;
    display: block;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.16;
    color: var(--font-color-primary);
}

.select {
    font-size: var(--font-size-input);
    position: relative;
}

.select.active .select__wrapper::after {
    transform: rotate(180deg);
}

.select__title {
    margin: 0 0 0.5em 0;
    display: block;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.16;
    color: inherit;
}

.select__title_required::after {
    content: "*";
    padding: 0 0 0 0.1em;
    font-size: 1em;
    color: var(--color-5);
}

.select__wrapper {
    border-radius: 0.35em;
    position: relative;
    z-index: 2;
}

.select__wrapper::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: inherit;
    border: 1px solid var(--color-8);
    background: var(--color-6);
}

.select__wrapper::after {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    top: calc(50% - 10px);
    right: 15px;
    background-image: url("../images/select/icon_01.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: transform 0.2s linear;
    pointer-events: none;
}

.select__wrapper .select2 {
    flex: 0 1 100%;
    display: block;
}

.select__wrapper .select2-selection.select2-selection--single {
    height: auto;
    display: block;
    background: none;
    border: none;
    border-radius: 0;
}

.select__wrapper .select2-selection__rendered {
    padding: 0 50px 0 0.75em !important;
    line-height: 2em !important;
    font-weight: 500;
    color: var(--font-color-primary) !important;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    box-orient: vertical;
    white-space: initial;
}

.select__wrapper .select2-selection__arrow {
    display: none;
}

.select-dropdown.select2-dropdown {
    padding: 0 0.75em;
    font-size: var(--font-size-input);
    background: var(--color-6);
    border-color: var(--color-8);
    border-radius: 0.35em;
}

.select-dropdown.select2-dropdown--below {
    transform: translateY(-5px);
}

.select-dropdown.select2-dropdown--below .select2-results {
    padding: 10px 0 0 0;
}

.select-dropdown.select2-dropdown--below .select2-results__options {
    border-top: 1px solid var(--color-8);
}

.select-dropdown.select2-dropdown--above {
    transform: translateY(5px);
}

.select-dropdown.select2-dropdown--above .select2-results {
    padding: 0 0 10px 0;
}

.select-dropdown.select2-dropdown--above .select2-results__options {
    border-bottom: 1px solid var(--color-8);
}

.select2-search.select2-search--dropdown {
    display: none;
}

.select-dropdown .select2-results__options {
    padding: 10px 0;
}

.select-dropdown .select2-results__option {
    padding: 5px 0 !important;
    color: var(--color-13) !important;
    background: none !important;
}

.select-dropdown .select2-results__option--selected {
    color: var(--font-color-primary) !important;
}

@media (any-hover: hover) {
    .select-dropdown .select2-results__option:hover {
        color: var(--font-color-primary) !important;
    }
}

.wrapper {
    width: 100%;
    max-width: var(--maxWidthWrapper);
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrapper_no-padding {
    padding: 0;
}

@media (max-width: 768px) {
    .wrapper {
        padding: var(--header-height) 0 0 0;
    }
}

.container {
    margin: 0 auto;
    padding: 0 var(--containerPadding);
    max-width: calc(var(--maxWidthContainer) + var(--containerPadding) * 2);
}

.image {
    display: block;
    position: relative;
}

.image img {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    -o-object-fit: cover;
    object-fit: cover;
}

.content {
    flex: 1 1 auto;
}

.logo {
    display: flex;
    align-items: center;
    font-size: 22px;
}

@media (min-width: 992px) {
    .logo {
        font-size: 30px;
    }
}

@media (min-width: 1600px) {
    .logo {
        font-size: 41px;
    }
}

.logo__icon {
    flex: 0 0 1.585em;
    width: 1.585em;
    height: 1.585em;
    margin: 0 10px 0 0;
    display: block;
}

.logo__text {
    font-size: 1em;
    line-height: 1.2;
    font-weight: 600;
    color: var(--font-color-logo);
}

.title {
    margin: 0 0 0.8em 0;
    display: block;
    font-size: 1.563rem;
    line-height: 1.16;
    font-weight: 500;
    color: var(--font-color-title);
}

@media (min-width: 768px) {
    .title {
        font-size: 1.875rem;
    }
}

@media (min-width: 992px) {
    .title {
        font-size: 2.188rem;
    }
}

@media (min-width: 1600px) {
    .title {
        margin: 0 0 1.25em 0;
        font-size: 2.5rem;
    }
}

.title__subtitle {
    padding: 1.25em 0 0 0;
    display: block;
    font-size: 0.48em;
}

.title__subtitle:first-child {
    padding: 0.833em 0 0 0;
}

.title__subtitle_light {
    color: var(--color-13);
}

.title__subtitle_justify {
    text-align: justify;
}

@media (min-width: 768px) {
    .title__subtitle {
        padding: 1em 0 0 0;
        font-size: 0.4em;
    }

    .title__subtitle:first-child {
        padding: 1em 0 0 0;
        font-size: 0.5em;
    }
}

.form__group {
    margin: 0 0 30px 0;
}

@media (min-width: 768px) {
    .form__group > .title {
        margin: 0 0 20px 0;
        font-size: 25px;
    }
}

.form__input:not(:last-child),
.form__select:not(:last-child) {
    margin: 0 0 15px 0;
}

.form__notification {
    display: block;
    font-size: 0.917em;
    font-weight: 500;
    line-height: 1.16;
    color: var(--color-5);
}

.form__buttons {
    margin: 20px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form__buttons .form__prev {
    margin: 0 7px 0 0;
}

.form__prev,
.form__next {
    flex: 0 1 8.125rem;
}

.form__next {
    margin: 0 0 0 auto;
}

.dataset__wrapper {
    padding: 15px;
    border-radius: 7px;
    border: 1px solid var(--color-8);
}

@media (min-width: 768px) {
    .dataset__wrapper {
        height: 100%;
    }
}

@media (min-width: 992px) {
    .dataset__wrapper {
        padding: 20px;
    }
}

@media (min-width: 1600px) {
    .dataset__wrapper {
        padding: 30px;
    }
}

.dataset__header {
    padding: 0 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 768px) {
    .dataset__header {
        padding: 0 0 15px 0;
        margin: 0 0 15px 0;
        border-bottom: 1px solid var(--color-8);
    }
}

@media (min-width: 1600px) {
    .dataset__header {
        padding: 0 0 20px 0;
        margin: 0 0 20px 0;
    }
}

.dataset__title {
    padding: 0 10px 0 0;
    display: block;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.18;
    color: var(--font-color-primary);
}

@media (min-width: 768px) {
    .dataset__title {
        font-size: 20px;
    }
}

@media (min-width: 1600px) {
    .dataset__title {
        font-size: 25px;
    }
}

.dataset__button-toggle {
    cursor: pointer;
}

.dataset__button-toggle::after {
    content: "";
    flex: 0 0 25px;
    width: 25px;
    height: 25px;
    display: block;
    background-image: url("../images/dataset/pen.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media (any-hover: hover) {
    .dataset__button-toggle:hover::after {
        background-image: url("../images/dataset/pen-active.svg");
    }
}

.dataset__button-toggle.active::after {
    background-image: url("../images/dataset/pen-active.svg");
}

.dataset__currents,
.dataset__form {
    display: none;
}

.dataset__currents.active,
.dataset__form.active {
    display: block;
}

.dataset__current {
    font-size: 0.75rem;
}

.dataset__current:not(:last-child) {
    margin: 0 0 0.833em 0;
}

@media (min-width: 768px) {
    .dataset__current {
        font-size: 0.875rem;
    }

    .dataset__current:not(:last-child) {
        margin: 0 0 1.071em 0;
    }
}

.dataset__label {
    margin: 0 0 0.167em 0;
    display: block;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 1.16;
    color: var(--font-color-primary);
}

.dataset__data-current {
    font-size: 1em;
    font-weight: 500;
    line-height: 1.16;
    color: var(--color-13);
}

.dataset__form {
    padding: 5px 0 0 0;
}

.dataset__form .form__group {
    margin: 0 0 15px 0;
}

.dataset__save {
    min-height: 40px;
    max-width: 10.833em;
    margin: 0 auto;
    font-size: 0.75rem;
}

@media (min-width: 768px) {
    .dataset__save {
        margin: 0;
    }
}

.header {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    background-color: var(--background-color-primary);
}

@media (max-width: 768px) {
    .header {
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--header-z-index);
        box-shadow: 0px 5px 29px -19px rgba(34, 60, 80, 0.2);
    }
}

@media (min-width: 768px) {
    .header {
        border-bottom: 1px solid var(--color-8);
    }

    .header_no-border {
        border: none;
    }
}

.header__container {
    flex: 1 1 100%;
}

.header__row {
    display: flex;
    align-items: center;
}

.header__logo {
    margin: 0 30px 0 0;
}

.header__cabinet-button,
.header__menu-button {
    flex: 0 0 25px;
    width: 25px;
    height: 25px;
}

.header__cabinet-button svg,
.header__menu-button svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: var(--color-7);
}

.header__cabinet-button {
    margin: 0 20px 0 auto;
}

.header__cabinet-button span {
    display: none;
}

@media (min-width: 768px) {
    .header__cabinet-button {
        flex: 0 1 auto;
        width: auto;
        height: auto;
        margin: 0 20px 0 auto;
        display: flex;
        align-items: center;
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 1.18;
        color: var(--font-primary-color);
        transition: color 0.15s linear;
    }

    .header__cabinet-button svg {
        flex: 0 0 1.875em;
        width: 1.875em;
        height: 1.875em;
        margin: 0 0.625em 0 0;
        fill: currentColor;
        transition: fill 0.15s linear;
    }

    .header__cabinet-button span {
        display: block;
    }
}

@media (min-width: 768px) and (any-hover: hover) {
    .header__cabinet-button:hover {
        color: var(--color-5);
    }
}

@media (min-width: 992px) {
    .header__cabinet-button {
        margin: 0 30px 0 auto;
        font-size: 1rem;
    }
}

@media (min-width: 1400px) {
    .header__cabinet-button {
        margin: 0 50px 0 auto;
    }
}

@media (min-width: 768px) {
    .header__menu-button {
        display: none;
    }
}

.header-menu {
    background-color: var(--background-color-primary);
}

@media (max-width: 768px) {
    .header-menu {
        width: 100%;
        height: 100%;
        padding: 0 0 40px 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: var(--header-menu-z-index);
        transform: translate3d(0, -105%, 0);
        pointer-events: none;
        transition: transform 0.2s linear;
    }

    .header-menu .container {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .header-menu.active {
        transform: translate3d(0, 0, 0);
        pointer-events: auto;
    }
}

@media (min-width: 768px) {
    .header-menu .container {
        padding: 0;
    }
}

.header-menu__head {
    min-height: var(--header-height);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-8);
}

@media (min-width: 768px) {
    .header-menu__head {
        display: none;
    }
}

.header-menu__logo {
    margin: 0 30px 0 0;
}

.header-menu__close-button {
    flex: 0 0 25px;
    width: 25px;
    height: 25px;
    margin: 0 0 0 auto;
}

.header-menu__close-button svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: var(--color-7);
}

@media (max-width: 768px) {
    .header-menu__items {
        flex: 0 1 auto;
        overflow: auto;
    }

    .header-menu__items_bb {
        margin: 0 0 25px 0;
        border-bottom: 1px solid var(--color-8);
    }
}

@media (min-width: 768px) {
    .header-menu__items {
        display: flex;
        align-items: center;
    }
}

@media (max-width: 768px) {
    .header-menu__item:not(:last-child) {
        border-bottom: 1px solid var(--color-8);
    }
}

@media (min-width: 768px) {
    .header-menu__item {
        padding: 0 20px;
        display: flex;
        justify-content: center;
        border-left: 1px solid var(--color-8);
    }

    .header-menu__item:last-child {
        padding: 0 0 0 20px;
    }
}

@media (min-width: 992px) {
    .header-menu__item {
        padding: 0 30px;
    }

    .header-menu__item:last-child {
        padding: 0 0 0 30px;
    }
}

@media (min-width: 1400px) {
    .header-menu__item {
        padding: 0 50px;
    }

    .header-menu__item:last-child {
        padding: 0 0 0 50px;
    }
}

.header-menu__link {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.2;
    color: var(--font-color-primary);
    transition: color 0.1s linear;
}

.header-menu__link.active {
    color: var(--color-5);
}

.header-menu__link.active::after {
    background-color: var(--color-5);
    background-image: url("../images/header/arrow_02.svg");
}

@media (max-width: 768px) {
    .header-menu__link {
        padding: 1.667em 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-transform: uppercase;
    }

    .header-menu__link::after {
        content: "";
        flex: 0 0 1.667em;
        width: 1.667em;
        height: 1.667em;
        margin: 0 0 0 10px;
        display: block;
        border-radius: 50%;
        background-color: var(--color-8);
        background-image: url("../images/header/arrow_01.svg");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 0.833em 0.833em;
        transition: background 0.1s linear;
    }
}

@media (min-width: 768px) {
    .header-menu__link {
        font-size: 0.875rem;
        text-align: center;
        cursor: pointer;
    }
}

@media (min-width: 768px) and (any-hover: hover) {
    .header-menu__link:hover {
        color: var(--color-5);
    }
}

@media (min-width: 992px) {
    .header-menu__link {
        font-size: 1rem;
    }
}

.header-menu__button {
    margin: auto 0 0 0;
}

@media (min-width: 768px) {
    .header-menu__button {
        display: none;
    }
}

.typical {
    padding: 25px 0;
}

.typical .container > div:not(:last-child) {
    margin: 0 0 15px 0;
}

.footer {
    background-color: var(--color-6);
}

@media (min-width: 1200px) {
    .footer {
        background-color: var(--color-7);
    }
}

@media (min-width: 1200px) {
    .footer__main {
        max-width: calc(var(--maxWidthContainer) + var(--containerPadding) * 2);
        padding: 25px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid var(--color-14);
    }

    .footer__main .container {
        flex: 0 1 1025px;
        max-width: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
}

@media (min-width: 1600px) {
    .footer__main {
        padding: 25px 0 25px 60px;
    }
}

@media (max-width: 1200px) {
    .footer__header {
        background-color: var(--color-7);
    }
}

.footer__header-container {
    display: flex;
}

@media (max-width: 1200px) {
    .footer__header-container {
        max-width: calc(var(--maxWidthContainer) + var(--containerPadding) * 2);
        min-height: var(--header-height);
        padding: 0 var(--containerPadding);
        margin: 0 auto;
        align-items: center;
        justify-content: space-between;
        background-color: var(--color-7);
    }
}

@media (min-width: 1200px) {
    .footer__header-container {
        margin: 0 10px 0 0;
        flex-direction: column;
        align-items: flex-start;
    }
}

.footer__logo {
    margin: 0 20px 0 0;
}

.footer__logo .logo__text {
    color: var(--color-6);
    transition: color 0.2s linear;
}

@media (any-hover: hover) {
    .footer__logo:hover .logo__text {
        color: var(--color-5);
    }
}

@media (min-width: 1200px) {
    .footer__logo {
        margin: 0;
        font-size: 28px;
    }

    .footer__logo .logo__icon {
        display: none;
    }

    .footer__logo .logo__text {
        line-height: 1;
    }
}

.footer__copyright {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.18;
    color: var(--color-6);
}

@media (min-width: 1200px) {
    .footer__copyright {
        text-align: center;
    }
}

.footer__actions {
    padding: 5px 0 25px;
}

@media (min-width: 1200px) {
    .footer__actions {
        flex: 0 1 600px;
        padding: 0;
        display: flex;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .footer__action {
        flex: 1 1 auto;
        display: flex;
    }
}

.footer__link {
    padding: 15px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid var(--color-8);
}

.footer__link .footer__text {
    transition: color 0.1s linear;
}

@media (any-hover: hover) {
    .footer__link:hover .footer__text {
        color: var(--color-5);
    }
}

@media (min-width: 1200px) {
    .footer__link {
        flex: 1 1 auto;
        padding: 0;
        border-bottom: none;
    }
}

.footer__icon {
    flex: 0 0 9.259%;
    width: 9.259%;
    height: 0;
    padding: 0 0 9.259% 0;
    margin: 0 15px 0 0;
}

@media (min-width: 576px) {
    .footer__icon {
        flex: 0 0 35px;
        width: 35px;
        height: 0;
        padding: 0 0 35px 0;
    }
}

@media (min-width: 1200px) {
    .footer__icon {
        flex: 0 0 25px;
        width: 25px;
        height: 0;
        padding: 0 0 25px 0;
    }
}

.footer__text,
.footer__nav-item,
.footer__info-text {
    display: block;
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1.18;
    color: var(--font-color-primary);
}

@media (min-width: 1200px) {
    .footer__text,
  .footer__nav-item,
  .footer__info-text {
        color: var(--color-6);
    }
}

.footer__nav {
    padding: 0 0 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (min-width: 1200px) {
    .footer__nav {
        flex: 0 1 390px;
        padding: 0;
    }
}

.footer__nav-item {
    cursor: pointer;
    transition: color 0.1s linear;
}

.footer__nav-item:not(:last-child) {
    margin: 0 10px 0 0;
}

.footer__nav-item.active {
    color: var(--color-5);
}

@media (any-hover: hover) {
    .footer__nav-item:hover {
        color: var(--color-5);
    }
}

@media (min-width: 1200px) {
    .footer__nav-item {
        padding: 0 0 0 30px;
        border-left: 1px solid var(--color-14);
    }
}

.footer__info {
    padding: 25px var(--containerPadding);
    background-color: var(--color-4);
}

@media (min-width: 768px) {
    .footer__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .footer__info {
        max-width: calc(var(--maxWidthContainer) + var(--containerPadding) * 2);
        padding: 30px var(--containerPadding) 30px 50px;
        margin: 0 auto;
        background: none;
    }
}

@media (min-width: 1600px) {
    .footer__info {
        padding: 30px var(--containerPadding) 50px 100px;
    }
}

.footer__info-text {
    text-align: justify;
    color: var(--color-13);
}

.footer__info-text:not(:last-child) {
    margin: 0 0 1.25em 0;
}

.footer__info-text a {
    font-weight: 700;
    text-decoration: underline;
    color: inherit;
    transition: color 0.15s linear;
}

@media (any-hover: hover) {
    .footer__info-text a:hover {
        text-decoration: none;
        color: var(--color-5);
    }
}

.footer__info-text span {
    padding: 0 0 0.833em 0;
    display: block;
    color: var(--font-color-primary);
}

@media (max-width: 1200px) {
    .footer__info-text {
        padding: 1.25em;
        border-radius: 0.583em;
        background-color: var(--color-6);
    }
}

@media (min-width: 768px) {
    .footer__info-text {
        width: 100%;
        max-width: var(--maxWidthContainer);
    }
}

@media (min-width: 1200px) {
    .footer__info-text {
        color: var(--color-4);
    }

    .footer__info-text:not(:last-child) {
        margin: 0 0 1.667em 0;
    }

    .footer__info-text span {
        color: var(--color-4);
    }

    .footer__info-text_lh {
        line-height: 1.666;
    }
}

@media (min-width: 1600px) {
    .footer__info-text:not(:last-child) {
        margin: 0 0 2.5em 0;
    }
}